<div class="statbox statbox-fixed  mt-4 mt-md-0">
  <div class="card p-2">
    <div class="card-body mt-n3 mx-2 text-gray-600">

      <div class="row">
        <div class="col-12 col-sm-4 grades-statbox__wrapper">
          <div class="grades-statbox mx-auto">
            <canvas baseChart [datasets]="doughnutChartDatasets"
              [options]="doughnutChartOptions" [type]="doughnutChartType" class="grades-chart">
            </canvas>
            <div class="grades-content text-center text-color-theme font-weight-bold px-5 mx-auto">
              <div class="row justify-content-center font-2xl">{{this.passedCourses}}/{{this.registeredCourses}}</div>
              <div class="row justify-content-center mt-n2 font-md">{{'Grades.PassedCourses' | translate}}</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12">
              <div class="text-left my-3 text-gray-600 ">
                <span class="d-block">{{ title }}</span>
              </div>
            </div>
          </div>
          <div class="row align-self-end mt-sm-4 grid-divider">
            <div class="col-12 col-sm-6 pr-sm-4">
              <div class="d-flex justify-content-between font-lg mt-3">
                <div>{{ labelTotal }}</div>
                <div>{{ registeredCourses }}</div>
              </div>
              <div class="d-block w-100 font-xs">{{ isTranscript ? ('Grades.Statbox.RegisteredCoursesExplanation' | translate) : '' }}</div>
              <div class="d-flex justify-content-between font-lg mt-2">
                <div>{{ labelPassed }}</div>
                <div>{{ passedCourses }}</div>
              </div>
              <div class="d-block w-100 font-xs">{{ isTranscript ? ('Grades.Statbox.PassedCoursesExplanation' | translate) : '' }}</div>
              <div class="d-flex justify-content-between font-lg mt-2" *ngIf="totalEcts">
                <div [translate]="'Grades.Statbox.RegisteredEcts'"></div>
                <div>{{ registeredEcts }}</div>
              </div>
              <div class="d-block w-100 font-xs">{{ isTranscript ? ('Grades.Statbox.RegisteredEctsExplanation' | translate) : '' }}</div>
              <div class="d-flex justify-content-between font-lg mt-2" *ngIf="totalEcts">
                <div [translate]="'Grades.Statbox.PassedEcts'"></div>
                <div>{{ totalEcts }}</div>
              </div>
              <div class="d-block w-100 font-xs">{{ isTranscript ? ('Grades.Statbox.PassedEctsExplanation' | translate) : '' }}</div>
              <div class="dropdown-divider w-100"> </div>
            </div>
            <div class="col-12 col-sm-6 pl-sm-4">
              <div class="d-flex justify-content-between font-lg mt-2" *ngIf="passedGradeWeightedAverage">
                <div class="my-auto" [translate]="'Grades.WeightedAverage'"></div>
                <div class="font-sm-2xl d-flex">
                  <span class="pl-1 m-auto">
                    {{ passedGradeWeightedAverage }}
                  </span>
                </div>
              </div>
              <div class="d-flex justify-content-between font-lg"
                [ngClass]="passedGradeWeightedAverage? ' mt-1' : ' mt-2'">
                <div class="my-auto" [ngClass]="passedGradeWeightedAverage? 'font-sm-sm' : ''"
                  [translate]="'Grades.GradeSimpleAverage'"></div>
                <div [ngClass]="passedGradeWeightedAverage? '' : 'font-sm-2xl'" class="pl-1 d-flex">
                  <span class="m-auto">
                    {{ passedGradeSimpleAverage }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>